@CHARSET "UTF-8";

.chat-sub-panel {
	display: inline-block;
	height: 100vh;
	border: 1px solid;
	overflow-y: auto;
}

#user-panel {
	
}

#msg-panel {
	padding-top: 0.5%;
}

#user-info-panel {
	display: none;
}

.users {
	cursor: pointer;
	font-size: 0.8em;
	padding-left: 0px;
}

.msg {
	width: 100%;
}

.wrapper {
	clear: both;
	max-width: 30%;
	display: inline-block;
	position: relative;
}

.wrapper>a {
	display: inline;
}

.content {
	max-width: 90%;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 20px;
	word-break: break-word;
}

.sender-msg {
	float: left;
	margin-left: 2%;
}

.sender-msg * {
	float: left;
}

.receiver-msg {
	float: right;
	margin-right: 2%;
}

.receiver-msg * {
	float: right;
}

.sender-msg>.content {
	background-color: #D1C4E9;
}

.receiver-msg>.content {
	background-color: #A5D6A7;
}

#search-id {
	margin-top: 1%;
}

.footnote {
	margin-left: 15px;
	margin-right: 5px;
}

.footnote * {
	font-size: 0.5em;
}

.footnote>div:FIRST-CHILD {
	text-align: left;
}

.footnote>div:LAST-CHILD {
	text-align: right;
}

#blank-panel {
	display: none;
}

.material-icons {
	cursor: pointer;
}

#text-out {
	height: 70vh;
}

#text-in {
	height: 30vh;
}

.user-unit {
	margin-bottom: 10%;
}

.avatar {
	margin-right: 5%;
}