@CHARSET "UTF-8";

.chat-sub-panel {
	display: inline-block;
	height: 100vh;
	border: 1px solid;
	/* 	overflow-y: auto; */
}

#user-panel {
	overflow-y: auto;
}

#msg-panel {
	padding-top: 0.5%;
}

#summary-panel {
	display: none;
}

.users {
	cursor: pointer;
	font-size: 1rem;
	padding-left: 0px;
}

.msg {
	width: 100%;
}

.wrapper {
	clear: both;
	max-width: 30%;
	display: inline-block;
	position: relative;
}

.wrapper>a {
	display: inline;
}

.content {
	max-width: 90%;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 8px;
	word-break: break-word;
}

.sender-msg {
	float: left;
	margin-left: 2%;
}

.sender-msg * {
	float: left;
}

.receiver-msg {
	float: right;
	margin-right: 2%;
}

.receiver-msg * {
	float: right;
}

.sender-msg>.content {
	/* 	background-color: #D1C4E9; */
	border: 1px solid;
}

.receiver-msg>.content {
	/* 	background-color: #A5D6A7; */
	border: 1px solid;
}

#search-id {
	margin-top: 1%;
}

.footnote {
	margin-left: 15px;
	margin-right: 5px;
}

.footnote * {
	font-size: 0.5em;
}

.footnote>div:FIRST-CHILD {
	text-align: left;
}

.footnote>div:LAST-CHILD {
	text-align: right;
}

.heading {
	width: 100%;
	display: inline-flex;
}

.heading :FIRST-CHILD {
	width: 100%;
}

.heading :LAST-CHILD {
	text-align: right;
}

#blank-panel {
	display: none;
}

.material-icons {
	cursor: pointer;
}

#message-out {
	height: 87vh;
	width: 100%;
	position: absolute;
	top: 0;
	border-bottom: 1px solid;
	overflow-y: auto;
}

#message-in {
	width: 96%;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
}

#text-in {
	border: 1px solid;
	overflow-y: auto;
}

#text-in:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.user-unit {
	margin-bottom: 5%;
}

.avatar {
	margin-right: 5%;
}

.extras {
	width: 100%;
}

.mb-3.input-box {
	margin-bottom: 0.4rem !important;
	height: 7.5vh;
}

.disabled * {
	cursor: auto;
}
