@CHARSET "UTF-8";

header, footer {
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgb(217, 217, 217);
	padding-left: 1%;
	display: flex;
	align-items: center;
}

header {
	top: 0;
	height: 5vh;
	font-size: 1.4rem;
	font-weight: bold;
}

footer {
	bottom: 0;
	height: 3vh;
	font-size: 0.7rem;
}

.centered-form {
	position: absolute;
	display: table;
	top: 5vh;
	height: 92vh;
}

.centered-form>div {
	display: table-cell;
	vertical-align: middle;
}

#login-form {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#msg-div {
	color: #ff6060;
	font-size: 0.8rem;
}