@CHARSET "UTF-8";

.settings-sub-panel {
	height: 100vh;
	border: 1px solid;
}

.nav>a {
	color: #6c757d;
}

.nav>a:hover {
	color: #343a40;
}

.details {
	display: none;
}

.footnote {
	font-size: 0.8rem;
}

.input-group {
	width: 50%;
}

.semi-row {
	padding: 15px;
	max-width: 100%;
	width: 70%;
	border: 1px solid;
	border-radius: 6px;
	border-color: #b3b4b5;
	margin-top: 2%;
	margin-left: 2%
}

input[type=text], input[type=password] {
	width: 50%;
}
