@CHARSET "UTF-8";

html {
	/* height: 100%; */

}

html body {
	/* height: 100%;
	overflow: hidden; */

}

html body .container-fluid.body-content {
	/* position: absolute;
	top: 50px;
	bottom: 30px;
	right: 0;
	left: 0; */
	/* overflow-y: auto; */

}

header, footer {
	/* position: absolute;
	left: 0;
	right: 0; */
	background-color: rgb(217, 217, 217);
	padding-left: 1%;
	display: flex;
	align-items: center;
}

header {
	/* top: 0; */
	height: 5vh;
	font-size: 1.4rem;
	font-weight: bold;
}

footer {
	/* bottom: 0; */
	height: 3vh;
	font-size: 0.7rem;
}

#control-panel {
	height: 3vh;
}

#control-panel * {
	line-height: inherit;
}

#frame-panel {
	height: 88vh;
	max-height: 89vh;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
}

.material-icons {
	cursor: pointer;
}

.right-icons {
	float: right;
	margin-left: 1%;
}

.left-icons {
	float: left;
	margin-right: 1%;
}

.dropdown-menu>a {
	font-size: 0.9rem;
}

.dropdown-menu>a:hover {
	border: 1px solid;
	font-weight: bold;
}

i.dropdown-toggle::after {
	display: none;
}

.modal-body>.input-group>.form-control:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

iframe:not(:first-child) {
	display: none;
}

#cancel-btn>i, #send-btn>i {
	line-height: inherit;
}
