@CHARSET "UTF-8";

@IMPORT url("../common.css");

@IMPORT url("chat-frame-max-576.css") screen
	and
	(max-width:576px);

@IMPORT url("chat-frame-min-577.css") screen
	and
	(min-width:577px);

#chat-panel {
	height: 100vh;
}

.chat-sub-panel {
	height: 100vh;
}

#summary-panel {
	display: none;
}

/** User List related CSS starts */
#user-list {
	overflow-y: auto;
}

.user-unit {
	margin-bottom: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #0000001c;
	cursor: pointer;
}

.user-status {
	width: 9px;
	height: 9px;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-right: 3%;
}

.online {
	border-color: #3ccb0c;
	background-color: #3ccb0c;
}

.offline {
	border-color: #707070;
	background-color: #707070;
}

.delivered {
	color: green;
}

.send-failed {
	color: #aa0000;
}

.online {
	background-color: green;
}

.offline {
	background-color: gray;
}
/** User List related CSS ends */

/** Message Related CSS starts **/
.msg {
	margin-top: 2%;
	margin-bottom: 3%;
}

.content {
	border-radius: 8px;
	border: 1px solid;
	word-break: break-word;
	padding: 6px;
}
/** Message Related CSS ends **/
#search-id {
	margin-top: 1%;
}

.heading {
	width: 100%;
	display: inline-flex;
}

.heading :first-child {
	width: 100%;
}

.heading :last-child {
	text-align: right;
}

#message-out {
	max-height: 82vh;
	overflow-y: auto;
	margin-top: 1rem;
}

#message-in {
	bottom: 0;
	width: 100%;
	position: absolute;
	padding-bottom: 8%;
}

#text-in {
	border: 1px solid;
	overflow-y: auto;
}

#text-in:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.mb-3.input-box {
	margin-bottom: 0.4rem !important;
}

.disabled * {
	cursor: auto;
}

.flex-display {
	display: flex;
}

.dropdown-item {
	display: flex;
}

.dropdown-item>label {
	margin-left: 0.5rem;
}

#user-info {
	width: 35%;
}