<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="basePath">C:\logs</Property>
	</Properties>

	<Appenders>

		<!-- Console Appender -->
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="generalLogger" fileName="${basePath}/app-info.log"
			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="accessLogger" fileName="${basePath}/access-info.log"
			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="generalLogger" />
			<AppenderRef ref="CONSOLE" />
		</Root>
		<Logger level="debug" additivity="false" name="com.jd.app.interceptors">
			<AppenderRef ref="accessLogger" />
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Logger name="org.springframework" level="off" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Logger name="org.hibernate.SQL" level="debug" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Logger name="org.hibernate.type" level="debug" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Logger>
	</Loggers>
</Configuration>