@CHARSET "UTF-8";

@IMPORT url("../common.css");
@IMPORT url("settings-frame-max-576.css") screen and (max-width:576px);
@IMPORT url("settings-frame-min-577.css") screen and (min-width:577px);

.nav>a {
	color: #6c757d;
}

.nav>a:hover {
	color: #343a40;
}

.details {
	display: none;
}

.footnote {
	font-size: 0.8rem;
}

.input-group {
	width: 50%;
}

.semi-row {
	padding: 15px;
	max-width: 100%;
	width: 70%;
	border: 1px solid;
	border-radius: 6px;
	border-color: #b3b4b5;
	margin-top: 2%;
	margin-left: 2%
}

.semi-row.btn-row {
	border: none;
	padding-left: 0;
}

input[type=text], input[type=password] {
	width: 50%;
}

.nav {
	margin-top: 5%;
}

.nav>a.active-panel {
	color: #fafafa;
	font-weight: bold;
	background: #5d5d5d;
}